.admin-content {
    margin-left: 20px;
    margin-top: 20px;
    padding: 20px;
}
.note-editor.note-frame {
    background: #222 !important;
    color: #fff !important;
    border: 1px solid #444 !important;
}
.note-toolbar {
    background: #111 !important;
    border-bottom: 1px solid #444 !important;
}
.note-editing-area .note-editable {
    background: #222 !important;
    color: #fff !important;
}

.faq-category-badge {
    display: inline-block;
    background: #007bff;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    padding: 5px 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.faq-status-badge {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    white-space: nowrap;
    max-width: fit-content;
    font-weight: bold;
}

.status-active {
    background: #28a745;
} /* Hiển thị */
.status-pending {
    background: #ffc107;
    color: #000;
} /* Chờ duyệt */
.status-hidden {
    background: #6c757d;
} /* Ẩn */
